<section id="socials">
    <h2>My Socials</h2>
    <div class="social-buttons">
        <a href="https://www.linkedin.com/in/malena-delrosario/" target="_blank" class="btn linkedin">
            <img src="/assets/icons/linkedin-icon.png" alt="LinkedIn" class="icon">
            LinkedIn
        </a>
        <a href="https://github.com/imadelro" target="_blank" class="btn github">
            <img src="/assets/icons/github-icon.png" alt="GitHub" class="icon">
            GitHub
        </a>
    </div>
</section>
